<Alloy>
	<View class="container">
		<View id="btnProfile" class="span-width top menu-btn" page="profile">
			<View class="menu-btn-background" touchEnabled="false" />
			<Widget class="size menuHeaderIcon" src="net.hoyohoyo.iconiclabel" icon="icon-user" touchEnabled="false" />
			<Label class="size white profile" touchEnabled="false">My Profile</Label>
		</View>
		<TableView id="tableView">
			<TableViewSection headerView="menuSectionHeader">
				<TableViewRow className="menuRow" page="home">
					<Widget class="menuIcon" src="net.hoyohoyo.iconiclabel" icon="icon-home"/>
					<Label>Home</Label>
					<View class="white-line transparent" />
				</TableViewRow>
				<TableViewRow className="menuRow" page="briefcase">
					<Widget class="menuIcon" src="net.hoyohoyo.iconiclabel" icon="icon-briefcase"/>
					<Label>Briefcase</Label>
					<View class="white-line transparent" />
				</TableViewRow>
				<TableViewRow className="menuRow" page="locations">
					<Widget class="menuIcon" src="net.hoyohoyo.iconiclabel" icon="icon-map-marker" />
					<Label>Locations</Label>
					<View class="white-line transparent" />
				</TableViewRow>
				<TableViewRow className="menuRow" page="photos">
					<Widget class="menuIcon" src="net.hoyohoyo.iconiclabel" icon="icon-picture" />
					<Label>Photos</Label>
					<View class="white-line transparent" />
				</TableViewRow>
			<TableViewSection>
		</TableView>
		<View id="settingsBtn" class="span-width menu-btn" page="settings">
			<View id="footerBkg" class="menu-btn-background" touchEnabled="false"/>
			<Widget class="size menuHeaderIcon" src="net.hoyohoyo.iconiclabel" icon="icon-cog" touchEnabled="false"/>
			<Label class="size white profile" touchEnabled="false">Settings</Label>
		</View>
	</View>
</Alloy>